.ambiance {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#b3e4df, white 50%, #1d1d63) ;
}
.ocean {
    position: absolute;
    width: 100vw;
    height: 40vh;
    bottom: 0; 
}
.ocean .waves {
    width: inherit;
    height: inherit;
    background: radial-gradient(circle at 100% 26%, rgb(14, 14, 102) 20%, transparent 22%),
                radial-gradient(circle at 0% 26%,  rgb(14, 14, 102) 20%, transparent 22%),
                radial-gradient(ellipse at top, transparent 38%, rgb(14, 14, 102) 42%);            
    background-size: 20vw 40vh;
    filter: drop-shadow(0 0 1vh rgb(44, 44, 114));
    position: absolute;
    animation: WaveMode 10s infinite;
}
@keyframes WaveMode {
    0% {left:0vw; bottom: 0vh;}
    25% {left:11vw; bottom: 9vh;}
    50% {left:19vw; bottom:-1vh;}
    75% {left:8vw; bottom: -5vh;}
    100%{ left:0vw; bottom:0vh;}
}
.ocean .waves:nth-child(1) {
    animation-delay: -1s;
    transform: translateY(0vh) scale(0.8);
}
.ocean .waves:nth-child(2) {
    animation-delay: 2s;
    transform: translateY(5vh) scale(0.9);
}
.ocean .waves:nth-child(3) {
    animation-delay: 5s;
    transform: translateY(10vh) scale(1.2);
}